{% extends 'base.html' %}


{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="logo">
			<span class="fas fa-home"></span>
		</div>
		<div class="content">
			<div class="inner">
				<h1>Bienvenido</h1>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="#formulario">Formulario</a></li>
				<li><a href="#datos">Base de datos</a></li>
				<li><a href="">Cerrar Sesión</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<div id="main">

		<!-- Formulario -->
		<article id="formulario">
			<h2 class="major">Formulario</h2>
			<form action="" method="POST">
				{% csrf_token %}
				<!-- Año de nacimiento -->
					<input type="text" name="anioNacimiento" placeholder="Ingrese año de nacimiento">
				<!-- Comuna -->
				<input type="text" name="comuna" placeholder="Comuna">
				<!-- Género -->
				<select name="genero" required>
					<option value="" disabled selected>Selecciona tu género</option>
					<option value="Masculino">Masculino</option>
					<option value="Femenino">Femenino</option>
				</select>

				<br>

				<!-- Botón de enviar -->
				<input type="submit" value="Enviar">
			</form>
		</article>


		<!-- Work -->
		<article id="datos">
			<h2 class="major">Datos ingresados</h2>

			{% if Datos %}
			<table>
				<thead>
					<tr>
						<th>Año de nacimiento</th>
						<th>Comuna</th>
						<th>Género</th>
					</tr>
				</thead>
				<tbody>
					{% for dato in Datos %}
					<tr>
						<td>{{ dato.anioNacimiento }}</td>
						<td>{{ dato.comuna }}</td>
						<td>{{ dato.genero }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p>No hay datos ingresados</p>
			{% endif %}
		</article>

	</div>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; Untitled.</p>
	</footer>

</div>

<!-- BG -->
<div id="bg"></div>

{% endblock %}
</body>




</html>