{% extends 'base.html' %}


{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="logo">
			<span class="fas fa-home"></span>
		</div>
		<div class="content">
			<div class="inner">
				<h1>Bienvenido</h1>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="#formulario">Formulario</a></li>
				<li><a href="#datos">Base de datos</a></li>
				<li><a href="#reportes">Reportes</a></li>
			</ul>
		</nav>
		<form method="post" action="{% url 'logout' %}">
			{% csrf_token %}
			<button type="submit">Cerrar Sesión</button>
		</form>
	</header>

	<!-- Main -->
	<div id="main">

		<!-- Formulario -->
<article id="formulario">
    <h2 class="major">Formulario</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Año de nacimiento -->
        <label for="id_anioNacimiento" style="display: inline-block;
				width: 200px;">Año de nacimiento:</label>
        {{ form.anioNacimiento }}
        <!-- Comuna -->
        <div>
			<label for="id_comuna" style="display: inline-block;
				width: 200px;">Comuna:</label>
            {{ form.comuna }}
        </div>
        <!-- Género -->
		<label for="id_genero" style="display: inline-block;
				width: 200px;">Género:</label>
        {{ form.genero }}
        <br>
        <!-- Botón de enviar -->
        <button type="submit">Enviar</button>
    </form>
</article>


		<!-- Datos -->
		<article id="datos">
			<h2 class="major">Datos ingresados</h2>

			{% if Datos %}
			<table>
				<thead>
					<tr>
						<th>Fecha ingreso</th>
						<th>ID_Usuario</th>
						<th>Año de nacimiento</th>
						<th>Comuna</th>
						<th>Género</th>
					</tr>
				</thead>
				<tbody>
					{% for dato in Datos %}
					<tr>
						<td>{{ dato.fecha_ingreso|date:"d-m-Y" }}</td>
						<td>{{ dato.id_usuario }}</td>
						<td>{{ dato.anioNacimiento|date:"d-m-Y" }}</td>
						<td>{{ dato.comuna }}</td>
						<td>{{ dato.genero }}</td>
					</tr>
				{% endfor %}
				
				</tbody>
			</table>
			{% else %}
			<p>No hay datos ingresados</p>
			{% endif %}
		</article>

		<!-- Gráfico -->
		<article id="reportes">
			<h2 class="major">Reportes</h2>
			<img class="img-fluid" src="data:image/png;base64,{{ imagen_base64_ingresos }}" alt="Gráfico de Barras">
			<img class="img-fluid" src="data:image/png;base64,{{ imagen_base64_genero }}" alt="Gráfico de Barras">
			<img class="img-fluid" src="data:image/png;base64,{{ imagen_base64_ingresos_por_mes }}" alt="Gráfico de Barras">
		</article>


	</div>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; Untitled.</p>
	</footer>

</div>

<!-- BG -->
<div id="bg"></div>

<style>
	.dark-input {
		background-color: #333;
		color: #fff;
		
	}
	
</style>

{% endblock %}
</body>




</html>