{% extends 'base.html' %}

{% block title %}Reportes{% endblock %}

{% block content %}
    <h2 class="major">Reportes</h2>
    <a class="button" href="{% url 'home' %}">Volver</a>

    <section id="reportes">
        <div class="chart-container">
            <h2>Respuestas a Preguntas</h2>
            {% for imagen_base64 in [imagen_base64_pregunta1, imagen_base64_pregunta2, imagen_base64_pregunta3, imagen_base64_pregunta4, imagen_base64_pregunta5, imagen_base64_pregunta6] %}
                <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Respuestas a Preguntas">
            {% endfor %}

            <h2>Ingresos por Día</h2>
            <img src="data:image/png;base64,{{ imagen_base64_ingresos }}" alt="Ingresos por Día">

            <h2>Personas por Género</h2>
            <img src="data:image/png;base64,{{ imagen_base64_genero }}" alt="Personas por Género">

            <h2>Género por Comuna</h2>
            {% for imagen_base64 in imagen_base64_genero_comuna %}
                <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Género por Comuna">
            {% endfor %}
        </div>
    </section>

    <a class="button" href="{% url 'home' %}">Volver</a>

    <style>
        .chart-container {
            width: 100%;
            height: auto;
            position: relative;
            text-align: center;
            margin-top: 20px;
        }

        .chart-container img {
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }
    </style>
{% endblock %}
