{% extends 'base.html' %}

{% block title %}Datos del Perfil{% endblock %}

{% block content %}

<section id="usuarios">
    <h2 class="major">Datos del Perfil</h2>

    {% if Datos %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Manichat</th>
                    <th>Rut Usuario</th>
                    <th>Whatsapp</th>
                    <th>Referencia</th>
                    <th>Año de nacimiento</th>
                    <th>Comuna</th>
                    <th>Género</th>
                    <th>Sistema de Salud</th>
                    <th>Ocupación</th>
                    <th>Fecha de ingreso</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in Datos %}
                <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.id_manychat }}</td>
                    <td>{{ dato.Rut }}</td>
                    <td>{{ dato.Whatsapp }}</td>
                    <td>{{ dato.Referencia }}</td>
                    <td>{{ dato.AnioNacimiento }}</td>
                    <td>{{ dato.Comuna_Usuario }}</td>
                    <td>{{ dato.Genero_Usuario }}</td>
                    <td>{{ dato.SistemaSalud_Usuario }}</td>
                    <td>{{ dato.Ocupacion_Usuario }}</td>
                    <td>{{ dato.Fecha_Ingreso }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No hay datos ingresados</p>
    {% endif %}

    <a class="button" href="{% url 'respuestasHome' %}">Volver</a>
</section>

{% endblock %}
